SnCore.Web.Soap.Tests/Web References/WebAuthService/WebAuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.vestris.com/sncore/ns/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.vestris.com/sncore/ns/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.vestris.com/sncore/ns/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAccountIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountResult" type="tns:TransitAccount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransitAccount">
        <s:complexContent mixed="false">
          <s:extension base="tns:TransitServiceOfAccount">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IsPasswordExpired" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Birthday" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastLogin" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="PictureId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TimeZone" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TransitServiceOfAccount" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountId" />
  </wsdl:message>
  <wsdl:message name="GetAccountIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccount" />
  </wsdl:message>
  <wsdl:message name="GetAccountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="WebAuthServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Login.</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get account id.</wsdl:documentation>
      <wsdl:input message="tns:GetAccountIdSoapIn" />
      <wsdl:output message="tns:GetAccountIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get account information.</wsdl:documentation>
      <wsdl:input message="tns:GetAccountSoapIn" />
      <wsdl:output message="tns:GetAccountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebAuthServiceSoap" type="tns:WebAuthServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountId">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/GetAccountId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/GetAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebAuthServiceSoap12" type="tns:WebAuthServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountId">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/GetAccountId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/GetAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebAuthService">
    <wsdl:port name="WebAuthServiceSoap" binding="tns:WebAuthServiceSoap">
      <soap:address location="http://dblock-black.orangebitch.com/SnCoreWeb/WebAuthService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebAuthServiceSoap12" binding="tns:WebAuthServiceSoap12">
      <soap12:address location="http://dblock-black.orangebitch.com/SnCoreWeb/WebAuthService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>