SnCore.Web.Soap.Tests/Web References/WebAccountService/WebAccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.vestris.com/sncore/ns/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.vestris.com/sncore/ns/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.vestris.com/sncore/ns/">
      <s:element name="CreateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="betapassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailaddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ta" type="tns:TransitAccount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransitAccount">
        <s:complexContent mixed="false">
          <s:extension base="tns:TransitServiceOfAccount">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IsPasswordExpired" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Birthday" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastLogin" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="PictureId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TimeZone" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TransitServiceOfAccount" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateAccountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountByIdResult" type="tns:TransitAccount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="t_instance" type="tns:TransitAccount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateOrUpdateAccountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccountResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteAccountById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccountByIdResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="CreateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountById" />
  </wsdl:message>
  <wsdl:message name="GetAccountByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountByIdResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateAccount" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAccount" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAccountResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountByIdSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAccountById" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountByIdSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAccountByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="WebAccountServiceSoap">
    <wsdl:operation name="CreateAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create an account.</wsdl:documentation>
      <wsdl:input message="tns:CreateAccountSoapIn" />
      <wsdl:output message="tns:CreateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get account information.</wsdl:documentation>
      <wsdl:input message="tns:GetAccountByIdSoapIn" />
      <wsdl:output message="tns:GetAccountByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create or update an account.</wsdl:documentation>
      <wsdl:input message="tns:CreateOrUpdateAccountSoapIn" />
      <wsdl:output message="tns:CreateOrUpdateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete your account.</wsdl:documentation>
      <wsdl:input message="tns:DeleteAccountSoapIn" />
      <wsdl:output message="tns:DeleteAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete your account.</wsdl:documentation>
      <wsdl:input message="tns:DeleteAccountByIdSoapIn" />
      <wsdl:output message="tns:DeleteAccountByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebAccountServiceSoap" type="tns:WebAccountServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountById">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/GetAccountById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateAccount">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/CreateOrUpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/DeleteAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountById">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/DeleteAccountById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebAccountServiceSoap12" type="tns:WebAccountServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAccount">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/CreateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountById">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/GetAccountById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateAccount">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/CreateOrUpdateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/DeleteAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountById">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/DeleteAccountById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebAccountService">
    <wsdl:port name="WebAccountServiceSoap" binding="tns:WebAccountServiceSoap">
      <soap:address location="http://dblock-black.orangebitch.com/SnCoreWeb/WebAccountService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebAccountServiceSoap12" binding="tns:WebAccountServiceSoap12">
      <soap12:address location="http://dblock-black.orangebitch.com/SnCoreWeb/WebAccountService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>