SnCore.Web.Soap.Tests/Web References/WebContentService/WebContentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.vestris.com/sncore/ns/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.vestris.com/sncore/ns/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.vestris.com/sncore/ns/">
      <s:element name="GetAccountContentGroupsCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountContentGroupsCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAccountContentGroupsCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountContentGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="tns:ServiceQueryOptions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceQueryOptions">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageNumber" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAccountContentGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountContentGroupsResult" type="tns:ArrayOfTransitAccountContentGroup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransitAccountContentGroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransitAccountContentGroup" nillable="true" type="tns:TransitAccountContentGroup" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransitAccountContentGroup">
        <s:complexContent mixed="false">
          <s:extension base="tns:TransitServiceOfAccountContentGroup">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Modified" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="AccountId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Trusted" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Login" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TransitServiceOfAccountContentGroup" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllAccountContentGroupsCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAccountContentGroupsCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAllAccountContentGroupsCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAccountContentGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="tns:ServiceQueryOptions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAccountContentGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAccountContentGroupsResult" type="tns:ArrayOfTransitAccountContentGroup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateAccountContentGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="group" type="tns:TransitAccountContentGroup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateAccountContentGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateOrUpdateAccountContentGroupResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccountContentGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccountContentGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAccountContentGroupById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountContentGroupByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountContentGroupByIdResult" type="tns:TransitAccountContentGroup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountContentById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountContentByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountContentByIdResult" type="tns:TransitAccountContent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransitAccountContent">
        <s:complexContent mixed="false">
          <s:extension base="tns:TransitServiceOfAccountContent">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Tag" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Modified" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Timestamp" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="AccountContentGroupId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="AccountContentGroupTrusted" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TransitServiceOfAccountContent" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAccountContentsCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountContentsCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAccountContentsCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountContents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="tns:ServiceQueryOptions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountContentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountContentsResult" type="tns:ArrayOfTransitAccountContent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransitAccountContent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransitAccountContent" nillable="true" type="tns:TransitAccountContent" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateOrUpdateAccountContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="tns:TransitAccountContent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateAccountContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateOrUpdateAccountContentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccountContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccountContentResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccountContentGroupsCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountContentGroupsCount" />
  </wsdl:message>
  <wsdl:message name="GetAccountContentGroupsCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountContentGroupsCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountContentGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountContentGroups" />
  </wsdl:message>
  <wsdl:message name="GetAccountContentGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountContentGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAccountContentGroupsCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAccountContentGroupsCount" />
  </wsdl:message>
  <wsdl:message name="GetAllAccountContentGroupsCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAccountContentGroupsCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAccountContentGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAccountContentGroups" />
  </wsdl:message>
  <wsdl:message name="GetAllAccountContentGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAccountContentGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateAccountContentGroupSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateAccountContentGroup" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateAccountContentGroupSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateAccountContentGroupResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountContentGroupSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAccountContentGroup" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountContentGroupSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAccountContentGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountContentGroupByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountContentGroupById" />
  </wsdl:message>
  <wsdl:message name="GetAccountContentGroupByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountContentGroupByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountContentByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountContentById" />
  </wsdl:message>
  <wsdl:message name="GetAccountContentByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountContentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountContentsCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountContentsCount" />
  </wsdl:message>
  <wsdl:message name="GetAccountContentsCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountContentsCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountContentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountContents" />
  </wsdl:message>
  <wsdl:message name="GetAccountContentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountContentsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateAccountContentSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateAccountContent" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateAccountContentSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateAccountContentResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountContentSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAccountContent" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountContentSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAccountContentResponse" />
  </wsdl:message>
  <wsdl:portType name="WebContentServiceSoap">
    <wsdl:operation name="GetAccountContentGroupsCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get account content groups count.</wsdl:documentation>
      <wsdl:input message="tns:GetAccountContentGroupsCountSoapIn" />
      <wsdl:output message="tns:GetAccountContentGroupsCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountContentGroups">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get account content groups.</wsdl:documentation>
      <wsdl:input message="tns:GetAccountContentGroupsSoapIn" />
      <wsdl:output message="tns:GetAccountContentGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountContentGroupsCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get account content groups count.</wsdl:documentation>
      <wsdl:input message="tns:GetAllAccountContentGroupsCountSoapIn" />
      <wsdl:output message="tns:GetAllAccountContentGroupsCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountContentGroups">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get account content groups.</wsdl:documentation>
      <wsdl:input message="tns:GetAllAccountContentGroupsSoapIn" />
      <wsdl:output message="tns:GetAllAccountContentGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateAccountContentGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create a content group.</wsdl:documentation>
      <wsdl:input message="tns:CreateOrUpdateAccountContentGroupSoapIn" />
      <wsdl:output message="tns:CreateOrUpdateAccountContentGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountContentGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a content group.</wsdl:documentation>
      <wsdl:input message="tns:DeleteAccountContentGroupSoapIn" />
      <wsdl:output message="tns:DeleteAccountContentGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountContentGroupById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get account content group by id.</wsdl:documentation>
      <wsdl:input message="tns:GetAccountContentGroupByIdSoapIn" />
      <wsdl:output message="tns:GetAccountContentGroupByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountContentById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get account content by id.</wsdl:documentation>
      <wsdl:input message="tns:GetAccountContentByIdSoapIn" />
      <wsdl:output message="tns:GetAccountContentByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountContentsCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get account contents count by group id.</wsdl:documentation>
      <wsdl:input message="tns:GetAccountContentsCountSoapIn" />
      <wsdl:output message="tns:GetAccountContentsCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountContents">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get account contents in a group.</wsdl:documentation>
      <wsdl:input message="tns:GetAccountContentsSoapIn" />
      <wsdl:output message="tns:GetAccountContentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateAccountContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create an account content.</wsdl:documentation>
      <wsdl:input message="tns:CreateOrUpdateAccountContentSoapIn" />
      <wsdl:output message="tns:CreateOrUpdateAccountContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete an account content.</wsdl:documentation>
      <wsdl:input message="tns:DeleteAccountContentSoapIn" />
      <wsdl:output message="tns:DeleteAccountContentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebContentServiceSoap" type="tns:WebContentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountContentGroupsCount">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/GetAccountContentGroupsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountContentGroups">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/GetAccountContentGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountContentGroupsCount">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/GetAllAccountContentGroupsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountContentGroups">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/GetAllAccountContentGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateAccountContentGroup">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/CreateOrUpdateAccountContentGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountContentGroup">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/DeleteAccountContentGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountContentGroupById">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/GetAccountContentGroupById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountContentById">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/GetAccountContentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountContentsCount">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/GetAccountContentsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountContents">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/GetAccountContents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateAccountContent">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/CreateOrUpdateAccountContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountContent">
      <soap:operation soapAction="http://www.vestris.com/sncore/ns/DeleteAccountContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebContentServiceSoap12" type="tns:WebContentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountContentGroupsCount">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/GetAccountContentGroupsCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountContentGroups">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/GetAccountContentGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountContentGroupsCount">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/GetAllAccountContentGroupsCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountContentGroups">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/GetAllAccountContentGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateAccountContentGroup">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/CreateOrUpdateAccountContentGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountContentGroup">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/DeleteAccountContentGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountContentGroupById">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/GetAccountContentGroupById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountContentById">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/GetAccountContentById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountContentsCount">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/GetAccountContentsCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountContents">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/GetAccountContents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateAccountContent">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/CreateOrUpdateAccountContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountContent">
      <soap12:operation soapAction="http://www.vestris.com/sncore/ns/DeleteAccountContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebContentService">
    <wsdl:port name="WebContentServiceSoap" binding="tns:WebContentServiceSoap">
      <soap:address location="http://dblock-black.orangebitch.com/SnCoreWeb/WebContentService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebContentServiceSoap12" binding="tns:WebContentServiceSoap12">
      <soap12:address location="http://dblock-black.orangebitch.com/SnCoreWeb/WebContentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>